#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  .cardDragon {
    text-align: center;
    border: grey solid 2px;
    padding: 0.5rem;
    width: 14rem;
    height: 14rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 3px 4px #e04b52;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    text-align: center; /* Center horizontally */
    line-height: 0;
    
  }
  .cards img {
    width: 57%;
    height: 58%;
    margin: .5rem auto;
    padding: .5em;
    
  
  
  }
}

/* .card {
  padding: 2em;
} */



header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

/* .cards {
  display: flex;
  list-style: none;
  justify-content: center; 
  align-items: center; 
} */



input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

