#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  .cardDragon {
    text-align: center;
    border: grey solid 2px;
    padding: 0.5rem;
    width: 14rem;
    height: 14rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 3px 4px #e04b52;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    text-align: center; /* Center horizontally */
    line-height: 0;
    
    
    
  }
  .cards img {
    width: 58%;
    height: 58%;
    padding: auto;
    margin: auto;
    
  
  }

   
}

/* .card {
  padding: 2em;
} */



header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

/* .cards {
  display: flex;
  list-style: none;
  justify-content: center; 
  align-items: center; 
} */



.barInput input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

.inputText  {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

.inputTextArea{
  border-radius: 5px;
  height: 15rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}



/* button {
  text-align: center;
  position: relative;
  
} */

/* button{
  position: relative;
  border: none;
  border-radius: 5px;
  height: 3rem;
  justify-self: center;
  margin-top: 40px;
} */
 button{
  background-color: whitesmoke;
  border: none;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  width: 24px;
  height: 24px;
 
  
}
button:hover {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  color: whitesmoke;
  box-shadow: 0px 0px 10px rgba(224, 75, 82, 0.5); 
  transform: translateY(-2px); 
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.home-icon{
  width: 24px;
  height: 24px;
}

.home-icon:hover {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  color: whitesmoke;
  box-shadow: 0px 0px 10px rgba(224, 75, 82, 0.5); 
  transform: translateY(-2px); 
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}




.add-icon{
  width: 24px;
  height: 24px;
}

.add-icon:hover {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  color: whitesmoke;
  box-shadow: 0px 0px 10px rgba(224, 75, 82, 0.5); 
  transform: translateY(-2px); 
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}
.star-icon{
  width: 24px;
  height: 24px;
}

.star-icon:hover {
  background-color: whitesmoke;
  border: 1px solid rgb(229, 202, 26);
  color: rgb(229, 202, 26);
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(224, 75, 82, 0.5); /* Add a subtle shadow effect */
  transform: translateY(-2px); /* Move the element up slightly on hover */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Add a smooth transition effect */
}
.navBar-container{
  
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
}





.app-container {
  margin-bottom: 10px; 
}
